*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background: #141414;
}

.background{
	position: relative;
}

.background .diamond{
	position: absolute;
	background: #141414;
	border: 1px solid black;
	transform: rotate(-45deg);
    width: 50px;
    height: 50px;
	z-index: 1;
}


@keyframes ppp2{
	100%{transform: rotate(-45deg)}
}

@keyframes ppp{
	0%{transform: rotate(-45deg)}
	100%{transform: rotate(45deg)}
}

.background .innerD{
	position: absolute;
	transform: translate(1px,1px) rotate(45deg);
    width: 48px;
    height: 48px;
	border: none;
	box-shadow: 0 0 10px 0.1px white inset;
}

.foreground{
	position: relative;
	z-index: 100;
}

.menu{
	background: black;
	position: absolute;
	top: 20vh;
	left: 15vw;	
	border: 1px solid white;
	box-shadow: 0 0 50px 1px white;
	transition: 2s ease;
	overflow: hidden;
	max-height: 350px;
}

.menu ul{
	color: #c0c0c0;
	font-size: 3rem;
	list-style: none;
}

.menu ul li{
    cursor: pointer;
	margin: 15px;
	border-bottom: 1px solid black;
	transition: 0.7s;
}

.menu ul li:hover{
	border-bottom: 1px solid white;
}

.focus{
	top: 5vh;
	left: 10vw;
	max-height: 86.3px;
}

.option{
	padding-top: 10px;
	background-color: rgba(0, 0, 0, 0);
	z-index: 7;
	position: absolute;
	top: 0;
	right: 0;
	height: 100vh;
	width: 22px;
	overflow: hidden;
	padding-left:20px;
	transition: all .2s cubic-bezier(.68, -0.2, .27, 1.55);
}

.option:hover {
   background-color: rgba(0, 0, 0, 0);
   width: 350px;
   overflow: hidden;
}

.page-info{
	position: absolute;
	top: 32vh;
	left: 65vw;	
	border-left: 1px solid #a4a4a4;
	padding: 30px;
	color: white;
	cursor: default;
}

.about{
	visibility: hidden;
	position: absolute;
	width: 100vw;
	height: 150px;
	transform-style: preserve-3d;
	transition: opacity 2s ease-in;
	opacity: 0;
}



.about .title{
	position: absolute;
	top: 3vh;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;	
	animation: Text 24s linear infinite;
}

.about .title span{
	position: absolute;
	inset: 0;
	transform: rotateX(calc(var(--i) * 15deg))
}

.about .title span:before{
	content: 'Amien-byte';
	position: absolute;
	width: 100%;
	text-align: center;
	color: white;
	font-size: 3rem;
	-webkit-text-stroke: 2px #959595;
	text-shadow: 0 0 5px rgba(255,255,255,255.5);
}

@keyframes Text{
	0%{transform: perspective(1000px) rotateX(0deg)}
	100%{transform: perspective(1000px) rotateX(360deg)}
}

.about p{
	position: absolute;
    top: 50vh;
    left: 20vw;
    max-width: 496px;
	color: antiquewhite;
}

.works{
	visibility: hidden;
	opacity: 0;
	transition: opacity 1s;
	color: white;
}


.works .title{
	position: absolute;
    top: 10vh;
    left: 40vw;
}

.works .phone{
	position: absolute;
	right: 20px;
	top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.essential {
	position: relative;
	width: 188px;
	height: 398px;
	background: url('icons/GGF App.jpeg');
	background-size: contain;
	background-repeat: no-repeat;
    background-position: center;
	border-radius: 16px;
	box-shadow: 0px 5px 0px 10px #000, 0px 0px 0px 10px #000;
}

.essential::before {
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	background: #000;
	top: 0px;
	left: 50%;
	transform: translate(-50%, 0);
	border-radius: 0px 0px 50% 50%; 
}

.works p{
	position: absolute;
    top: 50vh;
    left: 20vw;
    max-width: 496px;	
}

.head{
	background: white;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	position: absolute;
	top: 10px;
	left: 100px;
	transform: translate(-50%);
	animation: move 2s forwards;
	display: flex;
	justify-content: center;
	align-items: center;
}

.head .eye{
	position: absolute;
	background: black;
	width: 2px;
	height: 2px;
	border-radius: 50%;
	left: 15px;
}

.tail{
	background: white;
	width: 35px;
	height: 19px;
	clip-path: polygon(0 50%, 100% 0, 100% 100%);
	position: absolute;
	top: 10px;
	left: 80px;
	transform: translate(-50%,0.5px);
	animation: trail 2s forwards;
}

@keyframes move{
	50%{width: 25px;}
	100%{left: 300px;}
}

@keyframes trail{
	50%{width: 55px;
	clip-path: polygon(0 50%, 100% 10%, 100% 90%);}
	100%{left: 280px;width: 35px}
}

.comet{
	position: absolute;
	width: 1px;
	height: 1px;
	border-radius: 25%;
	background: white;
	left: 400px;
	top: 200px;
	transform-origin: top left;
	--toX: 0px;
	--toY: 0px;
	--dist: 0px;
}

@keyframes fall{
	50%{height:272px; top: 200px; left: 400px}
	100%{height: 1px: ;top: 72px;left:199px}
}

.glitch span {
	color: white;
  animation: paths 5s step-end infinite;
}

.glitch::before {
  animation: paths 5s step-end infinite, opacity 5s step-end infinite,
    font 8s step-end infinite, movement 10s step-end infinite;
}

.glitch::after {
  animation: paths 5s step-end infinite, opacity 5s step-end infinite,
    font 7s step-end infinite, movement 8s step-end infinite;
}
.hero {
  font-size: clamp(37px, 1vw, 100px);
  line-height: 1;
  display: inline-block;
  color: #fff;
  z-index: 2;
  letter-spacing: 10px;
  filter: drop-shadow(0 1px 3px);
}

.layers {
  position: relative;
}

.layers::before {
  content: attr(data-text);
  position: absolute;
  width: 110%;
  z-index: -1;
  top: 10px;
  left: 15px;
  color: #e0287d;
}

.layers::after {
  content: attr(data-text);
  position: absolute;
  width: 110%;
  z-index: -1;
  top: 5px;
  left: -10px;
  color: #1bc7fb;
}

@keyframes font {
  0% {
    font-weight: 100;
    color: #e0287d;
    filter: blur(3px);
  }

  20% {
    font-weight: 500;
    color: #fff;
    filter: blur(0);
  }

  50% {
    font-weight: 300;
    color: #1bc7fb;
    filter: blur(2px);
  }

  60% {
    font-weight: 700;
    color: #fff;
    filter: blur(0);
  }

  90% {
    font-weight: 500;
    color: #e0287d;
    filter: blur(6px);
  }
}

@keyframes paths {
  0% {
    clip-path: polygon(
      0% 43%,
      83% 43%,
      83% 22%,
      23% 22%,
      23% 24%,
      91% 24%,
      91% 26%,
      18% 26%,
      18% 83%,
      29% 83%,
      29% 17%,
      41% 17%,
      41% 39%,
      18% 39%,
      18% 82%,
      54% 82%,
      54% 88%,
      19% 88%,
      19% 4%,
      39% 4%,
      39% 14%,
      76% 14%,
      76% 52%,
      23% 52%,
      23% 35%,
      19% 35%,
      19% 8%,
      36% 8%,
      36% 31%,
      73% 31%,
      73% 16%,
      1% 16%,
      1% 56%,
      50% 56%,
      50% 8%
    );
  }

  5% {
    clip-path: polygon(
      0% 29%,
      44% 29%,
      44% 83%,
      94% 83%,
      94% 56%,
      11% 56%,
      11% 64%,
      94% 64%,
      94% 70%,
      88% 70%,
      88% 32%,
      18% 32%,
      18% 96%,
      10% 96%,
      10% 62%,
      9% 62%,
      9% 84%,
      68% 84%,
      68% 50%,
      52% 50%,
      52% 55%,
      35% 55%,
      35% 87%,
      25% 87%,
      25% 39%,
      15% 39%,
      15% 88%,
      52% 88%
    );
  }

  30% {
    clip-path: polygon(
      0% 53%,
      93% 53%,
      93% 62%,
      68% 62%,
      68% 37%,
      97% 37%,
      97% 89%,
      13% 89%,
      13% 45%,
      51% 45%,
      51% 88%,
      17% 88%,
      17% 54%,
      81% 54%,
      81% 75%,
      79% 75%,
      79% 76%,
      38% 76%,
      38% 28%,
      61% 28%,
      61% 12%,
      55% 12%,
      55% 62%,
      68% 62%,
      68% 51%,
      0% 51%,
      0% 92%,
      63% 92%,
      63% 4%,
      65% 4%
    );
  }

  45% {
    clip-path: polygon(
      0% 33%,
      2% 33%,
      2% 69%,
      58% 69%,
      58% 94%,
      55% 94%,
      55% 25%,
      33% 25%,
      33% 85%,
      16% 85%,
      16% 19%,
      5% 19%,
      5% 20%,
      79% 20%,
      79% 96%,
      93% 96%,
      93% 50%,
      5% 50%,
      5% 74%,
      55% 74%,
      55% 57%,
      96% 57%,
      96% 59%,
      87% 59%,
      87% 65%,
      82% 65%,
      82% 39%,
      63% 39%,
      63% 92%,
      4% 92%,
      4% 36%,
      24% 36%,
      24% 70%,
      1% 70%,
      1% 43%,
      15% 43%,
      15% 28%,
      23% 28%,
      23% 71%,
      90% 71%,
      90% 86%,
      97% 86%,
      97% 1%,
      60% 1%,
      60% 67%,
      71% 67%,
      71% 91%,
      17% 91%,
      17% 14%,
      39% 14%,
      39% 30%,
      58% 30%,
      58% 11%,
      52% 11%,
      52% 83%,
      68% 83%
    );
  }

  76% {
    clip-path: polygon(
      0% 26%,
      15% 26%,
      15% 73%,
      72% 73%,
      72% 70%,
      77% 70%,
      77% 75%,
      8% 75%,
      8% 42%,
      4% 42%,
      4% 61%,
      17% 61%,
      17% 12%,
      26% 12%,
      26% 63%,
      73% 63%,
      73% 43%,
      90% 43%,
      90% 67%,
      50% 67%,
      50% 41%,
      42% 41%,
      42% 46%,
      50% 46%,
      50% 84%,
      96% 84%,
      96% 78%,
      49% 78%,
      49% 25%,
      63% 25%,
      63% 14%
    );
  }

  90% {
    clip-path: polygon(
      0% 41%,
      13% 41%,
      13% 6%,
      87% 6%,
      87% 93%,
      10% 93%,
      10% 13%,
      89% 13%,
      89% 6%,
      3% 6%,
      3% 8%,
      16% 8%,
      16% 79%,
      0% 79%,
      0% 99%,
      92% 99%,
      92% 90%,
      5% 90%,
      5% 60%,
      0% 60%,
      0% 48%,
      89% 48%,
      89% 13%,
      80% 13%,
      80% 43%,
      95% 43%,
      95% 19%,
      80% 19%,
      80% 85%,
      38% 85%,
      38% 62%
    );
  }

  1%,
  7%,
  33%,
  47%,
  78%,
  93% {
    clip-path: none;
  }
}

.contact{
	visibility: hidden;
	position: absolute;
	width: 100vw;
	height: 150px;
	transform-style: preserve-3d;
	transition: opacity 2s ease-in;
	opacity: 0;
}

.contact ul{
	position: absolute;
    top: 50vh;
    left: 20vw;
    max-width: 496px;
	color: antiquewhite;
}



.show{
	visibility: visible;
	opacity: 1;	
}