*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background: #141414;
}

.background{
	position: relative;
}

.background .diamond{
	position: absolute;
	background: #141414;
	border: 1px solid white;
	transform: rotate(-45deg);
    width: 50px;
    height: 50px;
	z-index: 1;
}


@keyframes ppp2{
	100%{transform: rotate(-45deg)}
}

@keyframes ppp{
	0%{transform: rotate(-45deg)}
	100%{transform: rotate(45deg)}
}

.background .innerD{
	position: absolute;
	transform: rotate(45deg);
    width: 50px;
    height: 50px;
	border: none;
	box-shadow: 0 0 10px 0.1px white inset;
}

.interactable{
	position: relative;
}

.menu{
	background: black;
	position: absolute;
	top: 20vh;
	left: 15vw;	
	padding: 20px;
	border: 1px solid white;
	box-shadow: 0 0 50px 1px white;
	z-index: 10;
}

.menu ul{
	color: #c0c0c0;
	font-size: 3rem;
	list-style: none;
}

.menu ul li{
    cursor: pointer;
	margin: 8px 0 8px 0;
	border-bottom: 1px solid black;
	transition: 0.7s;
}


.menu ul li:hover{
	border-bottom: 1px solid white;
}